<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
</head>
<body>
	<h1>This is About page.</h1>
	<div class="container">
		<p>This is about page. Here I will tell about my self.</p>
	</div>
	<div class="container">
		<p>My Self Hassam Ali Shah. And I am a software Engineer. And doing an internship in SuperAPP software house.</p>
	</div>
	<div class="container">
		<%= link_to 'Home', root_path, :class => 'btn btn-primary' %>
	</div>
</body>
</html>