<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1> This is a Home Page</h1>
	<div class="container">
		<p>So This is a test paragraph. Actually i am practising Ruby on rails so the lecturer said to made a home page and an about page.</p>
	</div>
	<div class="container">
		<p>Well this is a very good course till now. The basics are very good.</p>
	</div>
	<div class="container">
		<p>Okay i think the material is fine enough for the home page.</p>
	</div>
	<div class="container">
		<p>Now I should Type for about page.</p>
	</div>
	<%= link_to 'About Us', about_path, :class => 'btn btn-primary' %>
</body>
</html>